.vscode
a.out
pruebas
CODIGO_ORIGINAL
gdrnpt5.dat
npt-PA10
npt6.dat
npt6.new
npt6.sigma
npt6.tau
unpt6.dat
datos.dat
DistanciaElipses
Elipsesaleatorias
antes.dat
despues.dat
tempCodeRunnerFile.f
datos.dat